.experienceBar {
  display: flex;
  align-items: center;

  span {
    font-size: 1rem;
  }

  & > div {
    position: relative;
    flex: 1;
    height: 4px;
    margin: 0 1.5rem;
    border-radius: 4px;
    background-color: var(--gray-line);
  }
}

.progressionBar {
  height: 4px;
  border-radius: 4px;
  background: var(--green);
}

.currentXP {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}
